<div id="track_choice">
</div>
<h3 id="heading">Track View: select a track</h3>
<br />
<div id="map"></div>
<div id="comment"></div>

<script>
    var markers = [];
    var map;
    var directionsDisplay;
    var directionsService;

    function initMap() {
        directionsDisplay = new google.maps.DirectionsRenderer;
        directionsService = new google.maps.DirectionsService;
        var mapViewLocation = { lat: 57.7089, lng: 11.9746 }; //Göteborg
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: mapViewLocation
        });
        directionsDisplay.setMap(map);
    }

    function DisplayRoute(trackName, locations, comments) {
        SetHeading(trackName);
        CreateMarkers(locations);
        //CalculateRoute(locations);
        DisplayComments(trackName, comments);
    }

    function DisplayComments(trackName, comments) {
        var allComments = "<div>";
        for (var i = 0; i < comments.length; i++) {
            allComments += "<div>*" + comments[i] + "</div><br />";
        }
        allComments += "</div>";

        var form = document.createElement("FORM");
        form.setAttribute("method", "post");
        form.setAttribute("action", "SaveTrackComment");
        form.setAttribute("id","comForm")

        var displayNode = document.createElement("DIV");
        displayNode.innerHTML =  allComments;

        var commentInput = document.createElement("textarea");
        commentInput.setAttribute("form","comForm")
        commentInput.setAttribute("name", "text");
        commentInput.setAttribute("rows", "4");
        commentInput.setAttribute("cols", "200");

        var button = document.createElement("INPUT");
        button.setAttribute("type", "submit");
        button.setAttribute("value", "COMMENT ON TRACK");

        var hidden = document.createElement("INPUT");
        hidden.setAttribute("type", "hidden");
        hidden.setAttribute("name", "trackName");
        hidden.setAttribute("value", trackName);

        form.appendChild(hidden);
        form.appendChild(displayNode);
        form.appendChild(document.createElement("br"));
        form.appendChild(commentInput);
        form.appendChild(document.createElement("br"));
        form.appendChild(button);



        var targetTag = document.getElementById("comment");
        ClearNode(targetTag.id);
        targetTag.appendChild(form);

    }

    function CreateMarkers(latLngs) {
        for (var i = 0; i < latLngs.length; i++) {
            CreateMarker(latLngs[i]);
        }
    }

    function CreateMarker(latLng) {
        markers.push(new google.maps.Marker({
            position: latLng,
            map: map
        }));
    }

    function CalculateRoute(markers) {
        var allWaypoints = [];
        for (var i = 1; i <= markers.length - 2; i++) {
            allWaypoints.push({ location: markers[i].position });
        }

        var request = {
            origin: markers[0].position,
            destination: markers[markers.length - 1].position,
            waypoints: allWaypoints,
            travelMode: 'WALKING'
        };

        directionsService.route(request, function (result, status) {
            if (status = "OK") {
                directionsDisplay.setDirections(result);
            }
        });
    }

    function SetHeading(name) {
        name = "Track View: " + name;
        document.getElementById("heading").textContent = name;
    }

    function CreateLatLngItem(lat, lng) {
        return new { lat: lat, lng: lng };
    }

    function InsertButton(trackname, trackLocations, comments) {
        var btn = document.createElement("BUTTON");
        btn.onclick = function () { DisplayRoute(trackname, trackLocations, comments) };
        btn.setAttribute("class", "btn_track");
        btn.textContent = trackname;
        document.getElementById('track_choice').appendChild(btn);
    }

    function ClearNode(elementId) {
        var node = document.getElementById(elementId);
        while (node.firstChild) {
            node.removeChild(node.firstChild);
        }
    }

    window.onload = function () {
        for (var i = 0; i < tracks.length; i++) {
            InsertButton(tracks[i].name, tracks[i].locations, tracks[i].comments);
        }
    }

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxAKqjyu48QPczRxf_XznZ82hLGukWZH0&callback=initMap"
        type="text/javascript"></script>