@using WorkoutPlanner.Domain.Models;
@model WorkoutPlanner.App.Models.AchievementVM
@{
    ViewBag.Title = "Achievements";
}

<h2>Achievements</h2>
@if (null != Model.Achievements)
{
<ul>
    @foreach (var achievement in Model.Achievements)
    {
    <li><b>Type:</b> @achievement.GetType().GetProperty("Type").GetValue(achievement, null) <b>Description:</b> @achievement.GetType().GetProperty("Description").GetValue(achievement, null)</li>
    }
</ul>
}